.ant-space-item{
    width: 50%;
}

.ant-space{
    display: flex !important;
    gap: 0 !important;
}

.ant-table-body{
    height: 100vh;
}

.ant-form-item-control-input-content{
    button{
        width: 100%;
    }
}