.ant-modal-content, .ant-modal-header{
    background-color: #262626 !important; 
    color: #fff !important;
    border-bottom: solid 1px #535353 !important;
}

.ant-modal-footer{
    border-top: none !important;
}

.ant-form-horizontal{
    display: flex;

}

.ant-modal-body{
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}

.ant-modal-title{
    color: #fff !important;
    font-family: KDG;
    text-align: center;
    font-size: 26px !important;
}

.ant-modal-close-x{
    color: white;
}

.modal--stop-lesson h2{
    color: white !important;
    display: flex;
    justify-content: center;
    align-self: center;
}