.logo{
    width: 80%;
}

.logo--login{
    width: 10vw;
}

.avatar{
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: KDG;
    font-size: 24px;
}